@font-face {
  font-family: norse-bold;
  src: url(../font/Norse-Bold.otf);
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --left-div-width: 35vw;
  --left-space: 50px;
}

.main {
  min-height: 100vh;
  display: flex;
}

.left {
  background: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex: 3;
  flex-direction: column;
  color: white;
  font-size: 5.5rem;
  justify-content: space-between;
}

.transparent {
  font-family: norse-bold;
  position: relative;
  top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.45);
}

img {
  height: 95%;
}

.attribution {
  font-size: small;
  position: relative;
  padding: 0 10px;
  text-align: center;
}
.attribution a {
  color: white;
}

/* =============== */

.right {
  background-color: whitesmoke;
  flex: 5;
}

.upper {
  font-weight: bold;
  box-sizing: border-box;
  font-size: 1.4rem;
  padding-left: var(--left-space);
  padding-right: 100px;
}

.upper p:first-child {
  padding-top: max(6vh, 60px);
}

.form-inputs {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 1px 5px 4px 0 #00000069;
  padding-bottom: 20px;
  padding-right: 15px;
}

.login-section,
.form-inputs {
  padding-left: var(--left-space);
}

.form-columns {
  display: flex;
  flex-wrap: wrap;
}

.form-columns div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

input {
  width: 290px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 25px;
  height: 30px;
}

input:focus {
  box-shadow: 2px 2px 5px 0 black;
  outline: 1px solid blue;
}

label {
  font-size: small;
  color: gray;
  font-weight: bold;
}

.left-col {
  margin-right: 100px;
}

input[type="submit"] {
  color: white;
  outline: 0px;
  font-weight: bold;
  background-color: darkolivegreen;
  width: 210px;
  height: 50px;
  font-size: 1.1rem;
}

.submit {
  box-shadow: 2px 5px 5px 4px rgba(0, 0, 0, 0.1);
}

.login-section {
  padding-top: 30px;
}

.login-section p {
  font-weight: bold;
}

.login-section a {
  text-decoration: none;
  color: darkolivegreen;
}

#l-name {
  outline: 1px solid blue;
}

#password,
#password-conf {
  outline: 1px solid red;
}

.pass input {
  margin-bottom: 0px;
}

.pass::after {
  color: red;
  content: "*Passwords do not match";
  padding-bottom: 20px;
  font-size: small;
}
